:root {
  --text-colour: #494f55;
  --white-colour: white;
  --black-colour: black;
  --blue-violet: blueviolet;
  --gray-colour: gray;
  --font-family: "Nunito", serif;
}
* {
  margin: 0;
  padding: 0;
}
::selection {
  color: var(--white-colour);
  background: var(--blue-violet);
}
button {
  user-select: none;
}
#navbar {
  background-color: var(--white-colour);
  top: 0;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0px 50px -10px var(--black-colour);
  display: grid;
  grid-template-areas: "logo header header header header";
}

body::before {
  content: "";
  background-image: url("./image/subtle-stripes.svg");
  position: absolute;
  height: 233%;
  width: 50%;
  top: 0;
  z-index: -1;
}

#blank1::before {
  content: "";
  background-image: url("./image/subtle-stripes.svg");
  position: absolute;
  height: 400%;
  width: 50%;
  top: 0;
  z-index: -3;
}
#blank::before {
  content: "";
  position: absolute;
  background-color: var(--white-colour);
  height: 233%;
  width: 100%;
  top: 0;
  z-index: -2;
}

#navbar #logo {
  grid-area: logo;
  text-align: center;
}

#navbar ul {
  align-items: center;
  justify-content: space-evenly;
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#navbar ul li {
  list-style-type: none;
}
#navbar ul a {
  font-size: 18px;
  color: var(--text-colour);
  text-decoration: none;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  text-shadow: 2px 2px 4px var(--text-colour);
}
#navbar ul a:hover {
  color: var(--blue-violet);
  text-shadow: 0px 0px 4px var(--text-colour);
}
#section {
  display: flex;
  align-items: center;
  padding-top: 150px;
  margin: 0px 100px 150px 100px;
}
#section .img {
  background-color: var(--white-colour);
  height: 87%;
  width: 50%;
  box-shadow: -23px -15px 52px -25px var(--black-colour);
  padding-bottom: 100px;
  text-align: end;
  padding-top: 100px;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}
#section .img:hover {
  box-shadow: none;
}
#section img {
  width: 85%;
}
#section .header {
  height: 87%;
  width: 50%;
  padding-bottom: 100px;
  text-align: center;
}
.typewriter h1 {
  overflow: hidden;
  border-right: 0px solid var(--white-colour);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 10s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white-colour);
  }
}
.header h1 {
  font-family: var(--font-family);
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 33px;
  color: var(--gray-colour);
  cursor: pointer;
}
.header p {
  font-family: var(--font-family);
  padding: 0px 50px 0px 50px;
  word-spacing: 10px;
  line-height: 2;
  color: var(--text-colour);
}
#menuToggle span {
  display: block;
  width: 15px;
  height: 4px;
  background-color: var(--text-colour);
  border-radius: 3px;
  cursor: pointer;
}
#menuToggle .button {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  margin-left: -8px;
  margin-top: -5px;
  -webkit-touch-callout: none;
  opacity: 0;
}
#menuToggle {
  margin-left: 335px;
  bottom: 50px;
  float: inline-end;
  position: absolute;
}
#menuToggle .span span:nth-last-child(2) {
  transform: rotate(45deg);
}
#menuToggle .span span:nth-last-child(1) {
  transform: rotate(135deg) translate(-9px, -3px);
}
#menuToggle .span {
  animation-name: translate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes translate {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
#about1 {
  padding-top: 150px;
}
#about {
  background-color: var(--white-colour);
  margin: 0px 100px 150px 100px;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 12px 15px 40px -5px var(--black-colour);
}
#about:hover {
  box-shadow: 12px 15px 40px -30px var(--black-colour);
}
#about h2 {
  padding: 10px 0 10px 0;
  font-family: var(--font-family);
  color: var(--text-colour);
}
#about p {
  padding: 10px 0 10px 0;
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--text-colour);
  line-height: 1.8;
  word-spacing: 4px;
}
#about h4 {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--text-colour);
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}
#about h4:hover {
  color: var(--blue-violet);
  text-shadow: 2px 2px 4px var(--text-colour);
}
.me {
  display: flex;
  margin-bottom: 100px;
  padding-top: 100px;
}
strong {
  color: var(--blue-violet);
}
.myself {
  padding: 0 100px 0 50px;
  height: fit-content;
}
.detail {
  width: 50%;
  padding: 0 50px 0 0;
  height: fit-content;
}
.detail a {
  text-decoration: none;
}
.detail .span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--gray-colour);
  border-radius: 10px;
}
.client {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.client span {
  width: 1px;
  height: 100;
  background-color: var(--gray-colour);
  border-radius: 10px;
}
#meow::before {
  content: "";
  background-image: url("./image//tj-holowaychuk-1EYMue_AwDw-unsplash.jpg");
  background-size: contain;
  position: fixed;
  height: 50%;
  bottom: 50px;
  width: -webkit-fill-available;
  z-index: -3;
}

#response {
  background-color: var(--white-colour);
  margin: 150px 100px 150px 100px;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 12px 15px 40px -5px var(--black-colour);
}

#response:hover {
  box-shadow: 12px 15px 40px -30px var(--black-colour);
}
#response h2 {
  padding: 10px 0 10px 0;
  font-family: var(--font-family);
  color: var(--text-colour);
}
#response p {
  padding: 10px 0 10px 0;
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--text-colour);
  line-height: 1.8;
  word-spacing: 4px;
}
#bottom::before {
  content: "";
  background-image: url("./image/subtle-stripes.svg");
  position: absolute;
  height: 150%;
  width: 50%;
  z-index: -1;
}
#bottom2::before {
  content: "";
  position: absolute;
  background-color: var(--white-colour);
  height: 150%;
  width: 100%;
  z-index: -2;
}
